<%= form_for(@note) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="input-append field">
    <%= f.text_field :passage, :class => 'span4 verse-to-search', :placeholder => 'e.g: Acts 1:8 or John 3:16-20' %>
    <button class="btn search-verse" type="button">Search!</button>
  </div>
  <div class="field">
    <div class="btn-group" data-toggle="buttons-radio">
      <button type="button" class="btn version active">RVR60</button>
      <button type="button" class="btn version">KJVA</button>
      <button type="button" class="btn version">GNT</button>
      <button type="button" class="btn version">CEV</button>
    </div>
  </div>
  <div class="field hidden">
    <%= f.text_area :comment, :class => 'span4 note-comment', :placeholder => 'Enter your comment here'%>
  </div>
  <div class="field hidden">
    <%= f.label :public %> <%= f.check_box :public %>
  </div>

  <div class="actions hidden">
    <%= f.submit :class => 'btn save', :disabled => true %>
  </div>
<% end %>
