<%= form_for(@note) do |f| %>
    <% if @note.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@note.errors.count, "error") %> prohibited this note from being saved:</h2>

        <ul>
        <% @note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% if @note.new_record? %>
    <%= render 'notes/search_verse', :f => f %>
  <% end %>
    <%= f.hidden_field :verse %>
    <div class="field <%= @note.new_record? ? :hidden:'' %>">
    <% if @note.new_record? %>
      <%= f.text_area :comment, :class => 'span4 note-comment', :placeholder => 'Enter your comment here'%>
    <% else %>
      <%= f.text_area :comment, :class => 'span12 note-comment', :placeholder => 'Enter your comment here'%>
    <% end %>
    </div>
    <div class="field  <%= @note.new_record? ? :hidden:'' %>">
      <%= f.label :public %> <%= f.check_box :public %>
    </div>

    <div class="actions <%= @note.new_record? ? :hidden:'' %>">
      <%= f.submit :class => 'btn btn-large btn-block btn-info save', :disabled => @note.new_record? %>
    </div>
<% end %>
