<h1>Listing notes</h1>

<div class="row-fluid show-grid">
<% @notes.each do |note| %>
  <div class="span3 block">
    <h3><%= note.passage %></h3>
    <p title="<%= note.comment %>"><%= note.comment.length > 80 ? "#{note.comment[0,79]}..." : note.comment %></p>
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        do the following
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Read complete', note %></li>
        <li><%= link_to 'Change my comment', edit_note_path(note) %></li>
      </ul>
    </div>
  </div>
<% end %>
</div>