<h1>Listing notes</h1>

<div class="row show-grid">
<% @notes.each do |note| %>
  <div class="span4 block">
    <h3><%= note.passage %></h3>
    <p><%= note.comment %></p>
    <div class="btn-group">
      <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
        do the following
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Read complete', note %></li>
        <li><%= link_to 'Change my comment', edit_note_path(note) %></li>
        <li><%= link_to 'Delete', note, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      </ul>
    </div>
  </div>
<% end %>
</div>