<p id="notice"><%= notice %></p>

<p>
  <b>Passage:</b>
  <%= @note.passage %>
</p>

<p>
  <b>Comment:</b>
  <%= @note.comment %>
</p>

<p>
  <b>User:</b>
  <%= @note.user_id %>
</p>

<p>
  <b>Public:</b>
  <%= @note.public %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
