<p id="notice"><%= notice %></p>

<legend>
	<%= @note.passage %>
	<%= link_to 'Change', edit_note_path(@note), :class => 'btn btn-info float-right' %>
	<%= link_to 'Back', notes_path, :class => 'btn btn-inverse float-right' %>
</legend>
<div class="row-fluid show-grid">
	<div class="span6">
	<span class="label label-<%= @note.is_public? ? 'info' : 'success' %>">this note is <%= @note.is_public? ? 'public' : 'private' %></span>
	<p>
	  <%= @note.comment %>
	</p>
	</div>
</div>
