<%= form_tag(note_path(@note), :method => "delete") %>
<legend>
	<i class="icon-file"></i><%= @note.passage %>
	<span class="label label-<%= @note.public? ? 'info' : 'success' %>"><%= @note.public? ? 'PUBLIC' : 'PRIVATE' %></span> 
	<input type="submit" value="Delete" class="btn btn-danger float-right" />
	<%= link_to 'Change', edit_note_path(@note), :class => 'btn float-right' %>
	<%= link_to 'Back', notes_path, :class => 'btn float-right' %>
</legend>
</form>

<div class="row-fluid show-grid">
	<div class="span6">
	<p>
	  <%= @note.comment %>
	</p>
	</div>
	<div class="span6 well">
	<blockquote class="pull-right">
	  <%= raw @note.verse %>
	  <small><cite title="<%= @note.passage %>"><%= @note.passage %></cite></small>
	</blockquote>
	</div>
</div>