<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <%= link_to 'Bible notes 0.1 (beta)', root_path, :class => 'brand' %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="<%= about_path  %>">About</a></li>
              <li><a href="<%= statement_path  %>">Statement of faith</a></li>
              <li><a href="<%= contact_path  %>">Contact</a></li>
              <li><a href="<%= team_path  %>">Team</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>