<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bible notes 0.1 (beta)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <%= stylesheet_link_tag    "bootstrap.min", "bootstrap-response.min", "styles", :media => "all" %>
  <%= javascript_include_tag  "http://code.jquery.com/jquery-1.8.2.min.js", "application", "bootstrap.min" %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png" />
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png" />
</head>
<body>
<% if (user_signed_in?) %>
  <%= render :file => "common/_user_bar" %>
<% else %>
  <%= render :file => "common/_site_bar" %>
<% end %>
<div class="container">
<% if (notice!= nil) %>
<div class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <%= notice %>
</div>
<% end %>

<% if (alert!= nil) %>
<div class="alert alert-info">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>Warning!</strong> <%= alert %>
</div>
<% end %>

<%= yield %>
</div>
</body>
</html>
